.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.iconContainer {
  i {
    font-size: 10rem;
  }
}
.borderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem;
  border-style: dashed;
}
